body {
  background: #B5C8AD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  padding: 20px 7px;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #433637;
}

.wordsOnTop {
  text-transform: uppercase;
  margin: 0;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.wordsBelowImage {
  font-size: 20px;
  margin: 3px;
}

.markedWord, h2, a:hover {
  color: #FF5B22;
}

.boredPhoto {
  width: 50%;
  margin: 0;
}

.btn {
  width: 170px;
  height: 50px;
  background: linear-gradient(to bottom, #61A3BA, #276F85);
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 20px 0px 35px;
}

.btn span {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

.advice {
  background: #ffeeef;
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bolder;
}

.happyPeople {
  width: 50%;
  margin: 20px 0px 10px;
}

hr {
  width: 90%;
  background:#FF5B22;
  height: 2px;
}

.footer {
  font-size: 14px;
  margin: 0;
}

a {
  color: #276F85;
}

@media all and (max-width: 540px) {
  .App {
    width: 95%;
  }
}